{{>navbar}}
<div class="wrapper-md">
    <div class="container py-4">
        <div class="mb-3">
            <h5 class="title-text">Todos</h5>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <a role="button" class="card rounded-card app-card app-card-btn" data-toggle="modal"
                    data-target="#createAppForm">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            <p><i class="fas fa-plus"></i></p>
                            <p> Create Todo</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{>footer}}
